* {
  box-sizing: border-box;
}

body {
  background-color: aliceblue;
}

/* ini list */

.list-create {
  text-decoration: none;
  color: white;
  background-color: rgb(48, 58, 196);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 3px;
  height: 40px;
  font-weight: 600;
  margin-bottom: 20px;
  margin: 10px;
  font-size: 15px;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  border: 1px solid #ddd;
}

th,
td {
  text-align: left;
  padding: 16px;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

/* ini add */
.container-add {
  background-color: whitesmoke;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
  box-shadow: 0px 0px 5px rgb(167, 167, 167);
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-color: rgb(218, 214, 214);
}

.container-add-sec {
  width: 100%;
  height: 550px;
  margin: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

h1 {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
}

.inline {
  display: flex;
  height: 50%;
  align-items: baseline;
  margin: 5px;
}

label {
  width: 30%;
}


input {
  width: 100%;
  padding: 10px;
  font-size: medium;
  border-radius: 5px;
  margin: 10px;
  display: inline;
}

.add-container {
  background-color: white;
  margin: 10px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  height: 500px;
  width: 950px;
  border-style: solid;
  border-color: rgb(218, 214, 214);
}


.button-add {
  width: 100%;
  display: flex;
  justify-content: left;
}


.add-container input,
.add-container label {
  display: inline-block;
}

.add-box {
  padding: 10px;
  margin-bottom: 10px;
  height: 35px;
  flex-direction: row;
  width: 1000px;
  justify-content: flex-end;
}

.add-submit {
  color: #ddd;
  background-color: #0d6efd;
  padding: 3px;
  width: 120px;
  height: 40px;
  font-size: smaller;
  font-weight: bold;
  border-radius: 10px;
  margin: 10px;
}

.add-cancel {
  color: black;
  background-color: #fcc511;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  font-size: 12px;
  padding: 3px;
  width: 120px;
  height: 40px;
  font-weight: bold;
  border-radius: 10px;
  margin: 10px;
}