* {
  box-sizing: border-box;
}

body {
  background-color: aliceblue;
}


/* ini add */
.container-add {
  background-color: whitesmoke;
  margin-left: auto;
  margin-right: auto; 
  width: 70%;
  box-shadow: 0px 0px 5px rgb(167, 167, 167);
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-color: rgb(218, 214, 214);
}

.container-add-sec {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

h1 {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
  margin-bottom: 10px;
}

.inline {
  display: flex;
  justify-content: center;
  height: 70px;
  align-items: baseline;
  margin: 0px;
  padding: 0px;
}

label {
  width: 30%;
  margin: 1%;
  padding: 0px;
}


legend {
  width: 200px;
  margin: 1%;
  padding: 0px;
}

input {
  width: 100%;
  padding: 10px;
  font-size: medium;
  border-radius: 5px;
  margin: 10px;
  display: inline;

}

.add-container {
  background-color: white;
  margin: 0px;
  display: flex;
  flex-direction: column;
  width: 950px;
  border-style: solid;
  border-color: rgb(218, 214, 214);
}


.button-add {
  width: 100%;
  display: flex;
  justify-content: left;
  background-color: whitesmoke;
  border-style: solid;
  border-color: rgba(245, 245, 245, 0.781);
}


.add-container input,
.add-container label {
  display: inline-block;
}

.add-box {
  padding: 10px;
  margin-bottom: 10px;
  height: 35px;
  flex-direction: row;
  width: 1000px;
  justify-content: flex-end;
}

.add-submit {
  color: #ddd;
  background-color: #0d6efd;
  padding: 3px;
  width: 120px;
  height: 40px;
  font-size: smaller;
  font-weight: bold;
  border-radius: 10px;
  margin: 10px;
}

.add-cancel {
  color: black;
  background-color: #fcc511;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  font-size: 12px;
  padding: 3px;
  width: 120px;
  height: 40px;
  font-weight: bold;
  border-radius: 10px;
  margin: 10px;
}

.married1 {
  width: fit-content;
  flex-direction: column;
  display: inline-flex;
}

.married-option {
  display: inline-flex;
  justify-content: baseline;
  width: 500px;
}

.married-option label {
  width: fit-content;
  display: inline-flex;
}

.married-option input {
  margin: 0px;
  width: fit-content;
  display: inline-flex;
}

.container-married {
  display: inline-flex;
  justify-content: flex-start;
  width: 100%;
}
